<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Availability</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="testJavaScript.js"></script>
</head>
<body>

<h1>Availablility</h1>
<hr>

 <div id="avail">
<ul class="checkbox-list">
 <li>
  <label for="week1">
   <input type="checkbox" id="week1">Week 1
  </label>
  <ul>
   <li>
    <label for="week1m">
     <input type="checkbox" id="week1m">Morning
    </label>
   </li>
   <li>
    <label for="week1a">
     <input type="checkbox" id="week1a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week2">
   <input type="checkbox" id="week2">Week 2
  </label>
  <ul>
   <li>
    <label for="week2m">
     <input type="checkbox" id="week2m">Morning
    </label>
   </li>
   <li>
    <label for="week2a">
     <input type="checkbox" id="week2a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week3">
   <input type="checkbox" id="week3">Week 3
  </label>
  <ul>
   <li>
    <label for="week3m">
     <input type="checkbox" id="week3m">Morning
    </label>
   </li>
   <li>
    <label for="week3a">
     <input type="checkbox" id="week3a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week4">
   <input type="checkbox" id="week4">Week 4
  </label>
  <ul>
   <li>
    <label for="week4m">
     <input type="checkbox" id="week4m">Morning
    </label>
   </li>
   <li>
    <label for="week4a">
     <input type="checkbox" id="week4a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week5">
   <input type="checkbox" id="week5">Week 5
  </label>
  <ul>
   <li>
    <label for="week5m">
     <input type="checkbox" id="week5m">Morning
    </label>
   </li>
   <li>
    <label for="week5a">
     <input type="checkbox" id="week5a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week6">
   <input type="checkbox" id="week6">Week 6
  </label>
  <ul>
   <li>
    <label for="week6m">
     <input type="checkbox" id="week6m">Morning
    </label>
   </li>
   <li>
    <label for="week6a">
     <input type="checkbox" id="week6a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week7">
   <input type="checkbox" id="week7">Week 7
  </label>
  <ul>
   <li>
    <label for="week7m">
     <input type="checkbox" id="week7m">Morning
    </label>
   </li>
   <li>
    <label for="week7a">
     <input type="checkbox" id="week7a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week8">
   <input type="checkbox" id="week8">Week 8
  </label>
  <ul>
   <li>
    <label for="week8m">
     <input type="checkbox" id="week8m">Morning
    </label>
   </li>
   <li>
    <label for="week8a">
     <input type="checkbox" id="week8a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week9">
   <input type="checkbox" id="week9">Week 9
  </label>
  <ul>
   <li>
    <label for="week9m">
     <input type="checkbox" id="week9m">Morning
    </label>
   </li>
   <li>
    <label for="week9a">
     <input type="checkbox" id="week9a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week10">
   <input type="checkbox" id="week10">Week 10
  </label>
  <ul>
   <li>
    <label for="week10m">
     <input type="checkbox" id="week10m">Morning
    </label>
   </li>
   <li>
    <label for="week10a">
     <input type="checkbox" id="week10a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week11">
   <input type="checkbox" id="week11">Week 11
  </label>
  <ul>
   <li>
    <label for="week11m">
     <input type="checkbox" id="week11m">Morning
    </label>
   </li>
   <li>
    <label for="week11a">
     <input type="checkbox" id="week11a">Afternoon
    </label>
   </li>
  </ul>
 </li>
 <li>
  <label for="week12">
   <input type="checkbox" id="week12">Week 12
  </label>
  <ul>
   <li>
    <label for="week12m">
     <input type="checkbox" id="week12m">Morning
    </label>
   </li>
   <li>
    <label for="week12a">
     <input type="checkbox" id="week12a">Afternoon
    </label>
   </li>
  </ul>
 </li>
</ul>
</div>


 <div id="age">
 <ul class="checkbox-list">
 <li>
  <label for="noPref">
   <input type="checkbox" id="noPref">No Preference
  </label>
 </li>
 <li>
  <label for="13under">
   <input type="checkbox" id="13under">13 and under
  </label>
 </li>
 <li>
  <label for="14+">
   <input type="checkbox" id="14+">Over 13
  </label>
 </li>
</ul>
</div>



</body>
</html>