{% extends 'base/layout.html' %}
{% load staticfiles %}
{% load dict_lookup %}

{% block title %}Scheduling{% endblock %}

{% block end_head %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block page_header %}
  Scheduling
{% endblock %}

{% block page_description %}

{% endblock %}

{% block javascript %}
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{% static 'scheduling/schedule.js' %}"></script>
  <script type="text/javascript">
    $('a[role="tab"]').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $(function () {
      $('a[role="tab"]:first').tab('show');
    });
  </script>

  <script type="text/javascript">
    $(document).ready('#btn-schedule-save').on('click', function (e) {
      e.preventDefault();
      var schedule = saveSchedule();
      console.log(schedule);

      var saveForm = $('<form></form>');
      saveForm.attr('action', '{% url 'save_schedule' %}');
      saveForm.attr('method', 'post');

      var scheduleField = $('<input></input>');
      scheduleField.attr('type', 'hidden');
      scheduleField.attr('name', 'schedule');
      scheduleField.attr('value', schedule);

      saveForm.append(scheduleField);
      //saveForm.submit();
    });
  </script>

  <script type="application/javascript">
    var data = JSON.parse('{{ data|safe }}');
    var schedule = JSON.parse('{{ schedule|safe }}');
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <form action="" method="post" id="save">
        {% csrf_token %}
        <button form="save" id="btn-schedule-save" class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
        {% for week in weeks %}
          <li role="presentation">
            <a href="#week-{{ week }}"
               aria-controls="week-{{ week }}"
               role="tab"
               data-toggle="tab"
            >
              Week {{ week }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">
        {% for week in weeks %}
          <div role="tabpanel" class="tab-pane" id="week-{{ week }}">
            <div class="row">
              <div class="col-md-5">
                {% for time in times %}
                  <div class="box box-default time">
                    <div class="box-header with-border">
                      <h3 class="box-title">{{ time }}</h3>
                      <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="box-body">
                      <ul id="scheduled-{{ week }}{{ time }}" class="timeOfDay" style="list-style-type:none">
                        <!--div>{{ week }}</div-->
                      </ul>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div id="availCourses-{{ week }}m" class="col-md-3 allCourses">
                <h4>Available Morning Courses</h4>
                <!-- begin box-->
                <!-- div id="sampleMorning" class="box box-primary collapsed-box course" style="display: none">
                  <div class="box-header with-border">
                    <h3 id="courseName" class="box-title"></h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box-body">
                    <ul id="course" style="list-style-type: circle">
                      <li id="ageGroup"></li>
                      <li id="instructorName"></li>
                      <li id="classroomName"></li>
                    </ul>
                  </div>
                </div -->
                <!-- end box -->
                <script>
                  generateAvailable(data, schedule, {{ week }}, 'm');
                </script>
              </div>
              <div id="availCourses-{{ week }}a" class="col-md-3 allCourses">
                <h4>Available Afternoon Courses</h4>
                <script>
                  generateAvailable(data, schedule, {{ week }}, 'a');
                </script>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}

{% block copyright %}

{% endblock %}
